@media only screen and (max-width : 1600px){
    .two-cols__left{
        width: 280px;
    }

	.two-cols__right{
        width: calc(100% - 280px);
        padding-left: 35px;
    }

    .intro__slider{
        padding-right: 45px;
    }

    .arrows-append-vert{
        right: 0;
    }

    .footer .logo-2{
        font-size: 130px;
    }

    .footer .logo-3{
        font-size: 40px;
    }

    .projects .items{
        margin: 0 -15px;
    }

    .projects .item{
        padding: 0 15px;
        margin-bottom: 35px;
    }


}/**1600px**/

@media only screen and (max-width : 1440px){
	
}/**1440px**/



@media only screen and (max-width : 1280px){
	
}/**1280px**/

@media only screen and (max-width : 1200px){
	.hidd1200{
		display: none!important;
	}

	.burger{
		display: block;
	}

    .two-cols__left{
        width: 0;
        border: none;
        display: none;
    }

    .two-cols__right{
        width: 100%;
        padding-left: 0;
    }

    .header{
        border-bottom: 1px solid #c8c8c8;
    }

    .header .two-cols{
        align-items: center;
    }

    .header__left{
        width: 140px;
        display: block;
        padding: 8px 15px 8px;
    }

    .header__right{
        width: calc(100% - 140px);
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__right{
        border: none;
    }

    .header .logo img{
        width: 110px;
    }

    .nav > ul{
        display: block;
    }

    .nav > ul > li > a{
        display: inline-block;
        padding: 18px 15px;
    }

    .intro .two-cols__right{
        min-height: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section .two-cols__right{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section-why .two-cols__right{
        padding-left: 15px;
        padding-right: 15px;
    }   
    
    .footer__bottom .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer__bottom{
        padding-top: 55px;
    }

    .gallery{
        margin-right: 0;
    }

    .content .container{
        padding-left: 16px;
    }

    .breadcrumbs{
        margin-bottom: 25px;
    }

    .content h1{
        font-size: 32px;
    }

    .menu > ul{
        column-gap: 16px;
    }

    .menu > ul > li > a{
        padding: 16px 8px;
        font-size: 12px;
    }

    .page-head{
        min-height: 200px;
    }

    .page-head .in{
        padding-top: 80px;
    }

    .page-head .title{
        font-size: 32px;
    }

    .sorting ul{
        column-gap: 20px;
    }

    .sorting ul li a{
        font-size: 13px;
    }
}/**1200px**/

@media only screen and (max-width : 1199px){
	.intro__left{
        width: 100%;
        padding-right: 0;
    }

    .intro__right{
        width: 100%;
        padding-top: 25px;
    }

    .intro__title{
        font-size: 32px;
    }

    .intro__text{
        font-size: 18px;
    }

    .intro__slider{
        padding-right: 35px;
    }

    .title-block,
    .title-block .orange{
        font-size: 32px;
    }

    .about__left{
        width: 100%;
        padding-right: 0;
    }

    .about__right{
        width: 100%;
        padding-top: 25px;
    }

    .advantages .item{
        width: 100%;
    }

    .advantages .item .title{
        font-size: 26px;
    }

    .category .item{
        width: 100%;
    }

    .category .item .top{
        height: 250px;
    }

    .category .item:nth-child(even) .in{
        flex-direction: column;
    }

    .category .item .title{
        font-size: 20px;
    }
    

    .catalog .item{
        width: 100%;
    }

    .catalog .item .top{
        height: 250px;
    }
    
    .catalog .item .title{
        font-size: 20px;
    }

    .catalog .item:nth-child(even) .in{
        flex-direction: column;
    }

    .why__cols{
        flex-wrap: wrap;
    }

    .why__left{
        width: 100%;
        padding-right: 0;
    }
    
    .why__center{
        width: 100%;
    }

    .why__right{
        padding-left: 0;
        padding-bottom: 0;
    }

    .story .item .in{
        padding: 20px;
    }

    .story .item .pic{

    }

    .story .item .right{
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
    }

    .story .item .title{
        font-size: 20px;
    }

    .footer{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .footer__top .cols{
        flex-wrap: wrap;
    }

    .footer__top .col{
        width: 100%;
        padding-bottom: 20px;
    }

    .footer .flex{
        display: block;
    }

    .footer__bottom .cols{
        flex-wrap: wrap;
    }

    .footer__bottom{
        padding-top: 35px;
    }

    .footer__bottom .col{
        width: 100%;
        padding-top: 15px;
    }

    .footer .logo-2{
        font-size: 45px;
    }

    .footer .logo-3{
        font-size: 30px;
    }

    .footer .logo-2 i{
        width: 30px;
        height: 30px;
        margin-left: 12px;
        background-size: contain;
    }

    .gallery .item .pic{
        height: 140px;
    }

    .profit .item{
        width: 50%;
    }

    .tech__left{
        width: 100%;
        padding-right: 0;
    }

    .tech__right{
        width: 100%;
        padding-top: 20px;
    }

    .tech .pic{
        display: flex;
        justify-content: center;
    }

    .tech .pic img{
        width: auto;
        max-width: 100%;
    }

    .tech p{
        font-size: 18px;
    }

    .provide .item .in{
        display: block;
    }

    .provide .item .center{
        width: 100% !important;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .provide .item .right{
        margin-top: 0;
    }

    .provide .item .title{
        margin-bottom: 20px;
    }

    .action__left{
        width: 100%;
        padding-right: 0;
    }

    .action__right{
        width: 100%;
        padding-top: 24px;
    }

    .product__left{
        width: 100%;
        padding-right: 0;
    }

    .product__right{
        width: 100%;
    }

    .product__in .title{
        font-size: 20px;
    }

    .product__in .title span{
        font-size: 28px;
    }

    .intro__slider .title{
        font-size: 20px;
    }

    .intro__slider .title span{
        font-size: 28px;
    }

    .detail .item{
        width: 50%;
    }

    .title-block .orange{
        padding-left: 0;
    }

    .projects .item{
        width: 100%;
    }

    .card__left{
        width: calc(100% - 80px);
    }

    .card__cols{
        align-items: flex-start;
    }

    .card__right{
        width: 80px;
        padding-left: 18px;
    }

    .card__title span{
        text-indent: 30px;
    }

    .card-slider-bottom .pic{
        height: 60px;
        padding-top: 10px;
    }

    .card-slider-top .pic{
        height: 400px;
    }
    

}/**1199px**/

@media only screen and (max-width : 992px){

}/**992px**/

@media only screen and (max-width : 991px){
	
}/**991px**/

@media only screen and (max-width : 768px){
    
}/**768px**/

@media only screen and (max-width : 767px){
	.intro__slider .in{
        height: 480px;
    }

    .profit .item{
        width: 100% !important;
    }

    .detail .item{
        width: 100%;
    }

    .card-slider-top .pic{
        height: 300px;
    }

    .card-des{
        padding-top: 35px;
        padding-bottom: 55px;
    }

}/**767px**/

@media only screen and (max-width : 576px){
	
}/**576px**/

@media only screen and (max-width : 575px){
	
}/**575px**/

@media only screen and (max-width : 480px){
	
}/**480px**/

@media only screen and (max-width : 425px){
	
}/**425px**/

@media only screen and (max-width : 375px){
	
}/**375px**/

@media only screen and (max-width : 360px){
	
}/**360px**/

@media only screen and (max-width : 320px){

}/**320px**/





@media only screen and (min-width : 1200px){

}