@media only screen and (max-width : 1600px){
    .two-cols__left{
        width: 280px;
    }

	.two-cols__right{
        width: calc(100% - 280px);
        padding-left: 35px;
    }

    .intro__slider{
        padding-right: 45px;
    }

    .arrows-append-vert{
        right: 0;
    }

    .footer .logo-2{
        font-size: 130px;
    }

    .footer .logo-3{
        font-size: 40px;
    }


}/**1600px**/

@media only screen and (max-width : 1440px){
	
}/**1440px**/



@media only screen and (max-width : 1280px){
	
}/**1280px**/

@media only screen and (max-width : 1200px){
	.hidd1200{
		display: none!important;
	}

	.burger{
		display: block;
	}

    .two-cols__left{
        width: 0;
        border: none;
        display: none;
    }

    .two-cols__right{
        width: 100%;
        padding-left: 0;
    }

    .header{
        border-bottom: 1px solid #c8c8c8;
    }

    .header .two-cols{
        align-items: center;
    }

    .header__left{
        width: 140px;
        display: block;
        padding: 8px 15px 8px;
    }

    .header__right{
        width: calc(100% - 140px);
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__right{
        border: none;
    }

    .header .logo img{
        width: 110px;
    }

    .nav > ul{
        display: block;
    }

    .nav > ul > li > a{
        display: inline-block;
        padding: 18px 15px;
    }

    .intro .two-cols__right{
        min-height: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section .two-cols__right{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .section-why .two-cols__right{
        padding-left: 15px;
        padding-right: 15px;
    }   
    
    .footer__bottom .container{
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer__bottom{
        padding-top: 55px;
    }
}/**1200px**/

@media only screen and (max-width : 1199px){
	.intro__left{
        width: 100%;
        padding-right: 0;
    }

    .intro__right{
        width: 100%;
        padding-top: 25px;
    }

    .intro__title{
        font-size: 38px;
    }

    .intro__text{
        font-size: 18px;
    }

    .intro__slider{
        padding-right: 35px;
    }

    .title-block{
        font-size: 32px;
    }

    .about__left{
        width: 100%;
        padding-right: 0;
    }

    .about__right{
        width: 100%;
        padding-top: 25px;
    }

    .advantages .item{
        width: 100%;
    }

    .advantages .item .title{
        font-size: 26px;
    }

    .category .item{
        width: 100%;
    }

    .category .item .top{
        height: 250px;
    }

    .category .item:nth-child(even) .in{
        flex-direction: column;
    }

    .category .item .title{
        font-size: 20px;
    }
    

    .catalog .item{
        width: 100%;
    }

    .catalog .item .top{
        height: 250px;
    }
    
    .catalog .item .title{
        font-size: 20px;
    }

    .catalog .item:nth-child(even) .in{
        flex-direction: column;
    }

    .why__cols{
        flex-wrap: wrap;
    }

    .why__left{
        width: 100%;
        padding-right: 0;
    }
    
    .why__center{
        width: 100%;
    }

    .why__right{
        padding-left: 0;
        padding-bottom: 0;
    }

    .story .item .in{
        padding: 20px;
    }

    .story .item .pic{

    }

    .story .item .right{
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
    }

    .story .item .title{
        font-size: 20px;
    }

    .footer{
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .footer__top .cols{
        flex-wrap: wrap;
    }

    .footer__top .col{
        width: 100%;
        padding-bottom: 20px;
    }

    .footer .flex{
        display: block;
    }

    .footer__bottom .cols{
        flex-wrap: wrap;
    }

    .footer__bottom{
        padding-top: 35px;
    }

    .footer__bottom .col{
        width: 100%;
        padding-top: 15px;
    }

    .footer .logo-2{
        font-size: 45px;
    }

    .footer .logo-3{
        font-size: 30px;
    }

    .footer .logo-2 i{
        width: 30px;
        height: 30px;
        margin-left: 12px;
        background-size: contain;
    }

}/**1199px**/

@media only screen and (max-width : 992px){

}/**992px**/

@media only screen and (max-width : 991px){
	
}/**991px**/

@media only screen and (max-width : 768px){
    
}/**768px**/

@media only screen and (max-width : 767px){
	.intro__slider .in{
        height: 480px;
    }



}/**767px**/

@media only screen and (max-width : 576px){
	
}/**576px**/

@media only screen and (max-width : 575px){
	
}/**575px**/

@media only screen and (max-width : 480px){
	
}/**480px**/

@media only screen and (max-width : 425px){
	
}/**425px**/

@media only screen and (max-width : 375px){
	
}/**375px**/

@media only screen and (max-width : 360px){
	
}/**360px**/

@media only screen and (max-width : 320px){

}/**320px**/





@media only screen and (min-width : 1200px){

}