
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

*::-webkit-input-placeholder {
	color: #000;
	opacity: .8;
}

*:-moz-placeholder {
	color: #000;
	opacity: .8;
}
*::-moz-placeholder {
	color: #000;
	opacity: .8;
}
*:-ms-input-placeholder {
	color: #000;
	opacity: .8;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
    font-weight: normal;
    line-height: 1.3;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1310px;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
}

.hidden {
  display: none !important;
}


input[type='text'],
input[type='password'],
input[type='search']{
    width: 100%;
    height: 33px;
    padding: 0 12px;
    color: #707070;
    font-family: "Geist", sans-serif;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #00728A;
    border-radius: 0;
    transition: .3s;
}

textarea{    
    width: 100%;
    height: 120px;
    padding: 12px;
    color: #707070;
    font-family: "Geist", sans-serif;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #00728A;
    border-radius: 0;
    resize: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.cols{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col{
    padding: 0 15px;
}

.btn{
    display: inline-block;
    border: medium none;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    font-family: "Geist", sans-serif;
    position: relative;
}

.btn-orange{
    min-height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 30px;
    background: #ff6628;
    border: 5px solid transparent;
    background-clip: padding-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #fff;
}

.btn-orange:before{
    content: "";
    width: 8px;
    height: 8px;
    background: url(../img/icons/btn_left_top.svg) center no-repeat;
    position: absolute;
    top: -4px;
    left: -4px;
}

.btn-orange:after{
    content: "";
    width: 8px;
    height: 8px;
    background: url(../img/icons/btn_bottom_right.svg) center no-repeat;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.btn-orange:active,
.btn-orange:hover{
    opacity: .888;
}

.btn-black{
    min-height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 30px;
    background: #000;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.btn-black .arrow{
    width: 22px;
    height: 13px;
    display: block;
    flex-shrink: 0;
    margin-left: 16px;
    background: url(../img/intro/arrow.svg) center no-repeat;
}

.btn-black:active,
.btn-black:hover{
    opacity: .8;
}

button:focus{
    outline: none;
}

.slick-dots{
    position: absolute;
    text-align: center;
    bottom: 25px;    
    width: 100%;
    margin: 0 auto !important;
    padding: 0 !important;
}

.slick-dots li{
    width: auto;
    height: auto;
    margin: 0 6px!important;
    padding: 0!important;
}

.slick-dots li:before{
    display: none;
}

.slick-dots li button{
    width: 15px;
    height: 15px;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #00728A;
    opacity: 1;
    text-indent: -9999px;
    transition: .3s;
}

.slick-dots li.slick-active button{
    background-color: #00728A;
}

.slick-prev, 
.slick-next{
    width: 38px;
    height: 16px;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    border-radius: 0;
    background-position: center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
}

.slick-prev:before,
.slick-next:before{
    content: none;
    
}

.slick-prev{
    left: 0;
    background-image: url(../img/icons/prev.svg)!important;
}

.slick-prev:hover{
    opacity: .8;
}

.slick-next{
    right: 0;
    background-image: url(../img/icons/next.svg)!important;
}

.slick-next:hover{
    opacity: .8;
}

.slick-dotted.slick-slider{
    margin-bottom: 0;
}

.arrows-append{
    width: 104px;
    height: 16px;
    margin: 40px auto 0;
    position: relative;
    z-index: 1;
}

.arrows-append.right{
    margin-left: auto;
    margin-right: 0;
}

.arrows-append-vert{
    width: 16px;
    height: 104px;
    position: relative;
    position: absolute;
    top: 50%;
    right: -65px;
    z-index: 3;
    transform: translateY(-50%);
}

.arrows-append-vert .slick-prev,
.arrows-append-vert .slick-next{
    width: 16px;
    height: 38px;
    top: auto;
    transform: none;
}

.arrows-append-vert .slick-prev{
    top: 0;
    left: 0;
    background-image: url(../img/icons/prev_vert.svg)!important;
}

.arrows-append-vert .slick-next{
    bottom: 0;
    right: 0;
    background-image: url(../img/icons/next_vert.svg)!important;
}

.t-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
}

.section{
    position: relative;
    z-index: 1;
}

.overlow-hidden{
    overflow: hidden;
}

.section.orange{
    background: #ff6628;
}

.section.gray{
    background: #f1f2f4;
}

.two-cols{
    display: flex;
    flex-wrap: wrap;
}

.two-cols__left{
    width: 400px;
    flex-shrink: 0;
    border-right: 1px solid #c8c8c8;
    position: relative;
}

.two-cols__right{
    width: calc(100% - 400px);
    padding-left: 74px;
}

.section .two-cols__left{
    padding: 78px 30px 35px;
}

.section .two-cols__right{
    padding-top: 120px;
    padding-bottom: 80px;
}

.section__subtitle{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.section__subtitle.white{
    color: #fff;
}

.section-bg{
    width: 320px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.section-bg img{
    width: 100%;
    display: block;
}

.title-block{
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1;
    color: #000;
}

.title-block.white{
    color: #fff;
}

.title-block span{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.title-block .orange{
    padding-left: 100px;
    font-weight: 600;
    font-size: 40px;
    color: #ff6628;
    line-height: 1;
    t
}

/**HEADER**/
.header{
    width: 100%;
    position: relative;
    z-index: 12;
}

.header .container{
    min-width: 0;
}

.header .two-cols{
    align-items: flex-start;
}

.header__left{
    padding: 22px 30px 0;
}

.header__right{
    border-bottom: 1px solid #c8c8c8;
}

.header .logo{
    display: flex;
    justify-content: center;
}

.header .logo img{
    width: 234px;
    display: block;
}

.header  .cols{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav > ul{
    display: flex;
    column-gap: 40px;
    list-style: none;
}

.nav > ul > li{
    position: relative;
}

.nav > ul > li > a{
    display: block;
    padding: 28px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    position: relative;
}

.nav > ul > li > a:before{
    content: "";
    width: 100%;
    height: 6px;
    background: #ff6628;
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: .3s;
    opacity: 0;
}

.nav > ul > li:hover > a:before,
.nav > ul > li.active > a:before{
    opacity: 1;
}

.header__phone{
    display: flex;
    column-gap: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
}

.header__phone span{
    
}

.header__phone a{
    color: inherit;
}

.burger{
    width: 32px;
    display: none;
    margin-left: auto;
}

.burger span{
    display: block;
    height: 3px;
    background: #000;
    margin: 7px 0;
}

.menu-close{
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    background: transparent url(../img/header/close.svg) center no-repeat;
    background-size: contain;
    top: 15px;
    right: 15px;
    z-index: 2;
}

.menu-mob{
    width: 100%;
    position: fixed;
    top: 0;
    height: 100%;
    padding: 48px 15px 25px;
    overflow: auto;
    background: #fff;
    z-index: 99;
    display: none;
}

.menu-mob__item{
    margin-top: 20px;
}

/**INTRO**/
.intro{
    width: 100%;
    position: relative;
    z-index: 12;
}


.intro .two-cols__left{

}

.intro .two-cols__right{
    min-height: 824px;
    padding-top: 110px;
    padding-bottom: 55px;
}

.intro__bg{
    background-position: left bottom;
    background-repeat: no-repeat;
}

.intro__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.intro__left{
    width: calc(100% - 584px);
    padding-right: 105px;
}

.intro__right{
    width: 584px;
    flex-shrink: 0;
}

.intro .sub{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.intro__title{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #000;
}

.intro__text{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33333;
    color: #5b5b5b;
}

.intro__slider{
    position: relative;
}

.intro__slider .in{
    height: 574px;
    position: relative;
}

.intro__slider .pic{
    height: 100%;
    position: relative;
    z-index: 1;
}

.intro__slider .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.intro__slider .overlay{
    width: 100%;
    max-width: 400px;
    padding: 25px 25px 80px 25px;
    background: rgba(255, 102, 40, 0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.intro__slider .title{
    font-weight: 400;
    font-size: 26px;
    line-height: 1.23077;
    text-transform: uppercase;
    color: #fff;
}

.intro__slider .title span{
    display: block;
    font-weight: 800;
    font-size: 34px;
}

.intro__slider__btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.intro__pic{

}

.intro__pic img{
    max-width: 100%;
    display: block;
}

/**ABOUT**/
.about{

}

.about__cols{
    display: flex;
    flex-wrap: wrap;
}

.about__left{
    width: 700px;
    flex-shrink: 0;
    padding-right: 120px;
}

.about__right{
    width: calc(100% - 700px);
}

.about p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #fff;
}

.about .pic{
    width: 230px;
    margin-bottom: 20px;
}

.about .pic img{
    width: 100%;
    display: block;
}

.about__name{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

/**ADVANTAGES**/
.advantages{

}

.advantages .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.advantages .item{
    width: 33.33%;
    padding: 0 4px;
    margin-bottom: 8px;
}

.advantages .item .in{
    min-height: 244px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 24px;
    background: #fff;
}

.advantages .item .in.gray{
    background: #777b87;
}

.advantages .item .in.orange{
    background: #ff6628;
}

.advantages .item .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.advantages .item .bottom{
    width: 100%;
}

.advantages .item .title{
    padding-right: 15px;
    font-weight: 400;
    font-size: 28px;
    color: #000;
}

.advantages .item .num{
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
    line-height: 0.85714;
    text-align: right;
    text-transform: uppercase;
    color: #000;
}

.advantages .item .num span{
    font-size: 16px;
}

.advantages .item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: #5b5b5b;
}

.advantages .item .title.white,
.advantages .item .num.white,
.advantages .item p.white{
    color: #fff;
}

/**CATEGORY**/
.category{
    max-width: 1368px;
}

.section-category .two-cols__right{
    padding-left: 0;
    padding-right: 2px;
}

.category .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.category .item{
    width: 25%;
    padding: 0 2px;
    margin-bottom: 4px;
}

.category .item .in{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
}

.category .item:nth-child(even) .in{
    flex-direction: column-reverse;
}

.category .item .in:before{
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/category/top_left.svg) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.category .item:nth-child(even) .in:before{
    background: url(../img/category/bottom_left.svg) center no-repeat;
    top: auto;
    bottom: 0;
}

.category .item .in:after{
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/category/top_right.svg) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.category .item:nth-child(even) .in:after{
    background: url(../img/category/bottom_right.svg) center no-repeat;
    top: auto;
    bottom: 0;
}


.category .item .top{
    width: 100%;
    height: 376px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 28px;
    background: #f1f2f4;
}

.category .item .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.category .item .sub{
    padding-right: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.category .item .num{
    margin-bottom: 20px;
    width: 100%;
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
    line-height: 0.85714;
    text-align: right;
    text-transform: uppercase;
    color: #000;
}

.category .item .num span{
    font-size: 16px;
}

.category .item .title{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
}

.category .item .pic{
    width: 100%;
    height: 181px;
}

.category .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/**CATALOG**/
.catalog{
    max-width: 1368px;
}

.section-catalog .two-cols__right{
    padding-left: 0;
    padding-right: 2px;
}

.catalog .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
}

.catalog .item{
    width: 25%;
    padding: 0 2px;
    margin-bottom: 4px;
}

.catalog .item .in{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
}

.catalog .item:nth-child(even) .in{
    flex-direction: column-reverse;
}

.catalog .item .in:before{
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/category/top_left.svg) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.catalog .item:nth-child(even) .in:before{
    background: url(../img/category/bottom_left.svg) center no-repeat;
    top: auto;
    bottom: 0;
}

.catalog .item .in:after{
    content: "";
    width: 17px;
    height: 17px;
    background: url(../img/category/top_right.svg) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.catalog .item:nth-child(even) .in:after{
    background: url(../img/category/bottom_right.svg) center no-repeat;
    top: auto;
    bottom: 0;
}

.catalog .item .top{
    width: 100%;
    height: 376px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 28px;
    background: #fff;
}

.catalog .item .flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.catalog .item .sub{
    padding-right: 15px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.catalog .item .num{
    margin-bottom: 20px;
    width: 100%;
    font-weight: 200;
    font-style: italic;
    font-size: 28px;
    line-height: 0.85714;
    text-align: right;
    text-transform: uppercase;
    color: #000;
}

.catalog .item .num span{
    font-size: 16px;
}

.catalog .item .title{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
}

.catalog .item .pic{
    width: 100%;
    height: 181px;
}

.catalog .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/**WHY**/
.why{
    max-width: 1368px;
}

.section-why .two-cols__right{
    padding-right: 0;
    padding-bottom: 0;
}

.why__cols{
    display: flex;
}

.why__left{
    width: 310px;
    flex-shrink: 0;
    padding-right: 22px;
    padding-bottom: 30px;
}

.why__center{
    width: 337px;
    flex-shrink: 0;
}

.why__right{
    flex-grow: 1;
    padding-left: 43px;
    padding-bottom: 20px;
}

.why .pic{
    height: 544px;
}

.why .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.why .items{

}

.why .item{
    margin-bottom: 3px;
}

.why .item .in{
    padding: 30px 40px;
    background: #f1f2f4;
}

.why .item .left{
    max-width: 562px;
}

.why .item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #5b5b5b;
}

.why .item p span{
    font-weight: 600;
}

/**STORY**/
.story{
    max-width: 1100px;
    margin: 0 auto;
}   

.story .item{

}

.story .item .in{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background: #fff;
}

.story .item .in.gray{
    background: #f1f2f4;
}

.story .item .pic{
    width: 307px;
    height: 307px;
    flex-shrink: 0;
}

.story .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.story .item .right{
    width: calc(100% - 337px);
    padding-left: 40px;
}

.story .item .title{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16667;
    text-transform: uppercase;
    color: #000;
}

.story .item p{
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #5b5b5b;
}

/**GALLERY**/
.gallery{
    margin-right: -110px;
}

.gallery .slider-wrap{
    margin: 0 -10px;
}

.gallery .item{
    padding: 0 10px;
}

.gallery .item .pic{
    height: 240px;
}

.gallery .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/**PROFIT**/
.profit{
    position: relative;
}

.profit.border{
    padding: 25px;
}

.profit.border .top_left{
    width: 100px;
    height: 100px;
    background: url(../img/profit/top_left.svg) center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.profit.border .top_right{
    width: 100px;
    height: 100px;
    background: url(../img/profit/top_right.svg) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.profit.border .bottom_left{
    width: 100px;
    height: 100px;
    background: url(../img/profit/bottom_left.svg) center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.profit.border .bottom_right{
    width: 100px;
    height: 100px;
    background: url(../img/profit/bottom_right.svg) center no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.profit .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.profit .item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.profit .item.w33{
    width: 33.33%;
}

.profit .item .icon{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.profit .item .icon img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

.profit .item .title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0625;
    text-transform: uppercase;
    color: #000;
}

.profit .item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #5b5b5b;
}

.profit__text{
    max-width: 780px;
    margin: 0 auto;
    padding-top: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #000;
}

/**TECH**/
.tech{

}

.tech__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tech__left{
    width: calc(100% - 380px);
    padding-right: 110px;
}

.tech__right{
    width: 380px;
    flex-shrink: 0;
}

.tech p{
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27273;
    text-align: justify;
    color: #5b5b5b;
}

.tech .pic{
    
}

.tech .pic img{
    width: 100%;
    display: block;
}

/**PROVIDE**/
.provide{

}

.provide .item{
    margin-bottom: 40px;
}

.provide .item .in{
    display: flex;
    align-items: flex-start;
}

.provide .item .left{
    width: 254px;
    flex-shrink: 0;
}

.provide .item .center{
    width: 645px;
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 64px;
}

.provide .item .center.grow{
    width: 740px;
    padding-right: 0;
}

.provide .item .right{
    flex-grow: 1;
    margin-top: 14px;
    padding: 18px 0 18px 24px;
    border-left: 8px solid #f1f2f4;
}

.provide .item .pic{
    height: 254px;    
}

.provide .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.provide .item .title{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.provide .item .title span{
    display: block;
    text-indent: 45px;
}

.provide .item p{
    max-width: 503px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #000;
}

.provide .item .arrow{
    width: 38px;
    height: 16px;
    margin-left: auto;
    background: url(../img/provide/arrow.svg) center no-repeat;
}

.provide .item ul{
    list-style: none;
}

.provide .item ul li{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #000;
}

.provide .item ul li:last-child{
    margin-bottom: 0;
}

/**ACTION**/
.section-action{
    background: #232323 url(../img/action/bg.jpg) center no-repeat;
    background-size: cover;
}

.section-action.bg_2{
    background-image: url(../img/action/bg_2.jpg);
}

.action__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.action__left{
    width: 670px;
    padding-right: 185px;
}

.action__right{
    width: calc(100% - 670px);
}

.action .chisel{
    padding: 30px;
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid #fff;
}

.action p{
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #fff;
}

.action p:last-child{
    margin-bottom: 0;
}

/**PRODUCT**/
.product{
    max-width: 1100px;
    margin: 0 auto;
}

.product__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}   

.product__left{
    width: calc(100% - 670px);
    padding-right: 30px;
}

.product__right{
    width: 670px;
    flex-shrink: 0;
}

.product__in{
    height: 420px;
    position: relative;
}

.product__in .pic{
    height: 100%;
    position: relative;
    z-index: 1;
}

.product__in .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.product__in .overlay{
    width: 100%;
    max-width: 400px;
    padding: 25px 25px 80px 25px;
    background: rgba(255, 102, 40, 0.7);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.product__in .title{
    font-weight: 400;
    font-size: 26px;
    line-height: 1.23077;
    text-transform: uppercase;
    color: #fff;
}

.product__in .title span{
    display: block;
    font-weight: 800;
    font-size: 34px;
}

.product__in__btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

/**DETAIL**/
.detail{

}

.detail .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.detail .item{
    width: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.detail .item .icon{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.detail .item .icon img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.detail .item .title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.0625;
    text-transform: uppercase;
    color: #000;
}

.detail .item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #000;
}

/**CONTENT**/
.content{

}

.content .two-cols__left{
    padding-top: 600px;
}

.content .two-cols__right{
    padding-top: 8px;
    padding-left: 0;
}

.content .container{
    max-width: 1370px;
    padding-left: 60px;
}

.content h1{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #000;
}

.breadcrumbs{
    margin-bottom: 45px;
    text-align: center;
}

.breadcrumbs ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs ul li{
    padding-right: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #ff6628;
    text-transform: uppercase;
}

.breadcrumbs ul li:before{
    content: "/";
    color: #000;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.breadcrumbs ul li:last-child:before{
    content: none;
}

.breadcrumbs ul li a{
    display: block;
    color: #000;
}


.menu{
    padding: 0 25px;
    margin-bottom: 46px;
    border-bottom: 1px solid #c8c8c8;
}

.menu > ul{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 40px;
    list-style: none;
}

.menu > ul > li{
    position: relative;
}

.menu > ul > li > a{
    display: block;
    padding: 28px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
}

.menu > ul > li > a:before{
    content: "";
    width: 100%;
    height: 6px;
    background: #ff6628;
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: .3s;
    opacity: 0;
}

.menu > ul > li:hover > a:before,
.menu > ul > li.active > a:before{
    opacity: 1;
}

.page-head{
    min-height: 290px;
    position: relative;
}

.page-head .pic{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-head .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.page-head .in{
    padding: 112px 30px 20px;
    position: relative;
    z-index: 3;
}

.page-head .title{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.13636;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.sorting ul{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    list-style: none;
}

.sorting ul li{

}

.sorting ul li a{
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: .3s;
}

.sorting ul li.active a,
.sorting ul li:hover a{
    color: #ff6628;
}

/**PROJECTS**/
.projects{

}

.projects .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.projects .item{
    width: 50%;
    padding: 0 40px;
    margin-bottom: 80px;
}

.projects .item .pic{
    height: 340px;
    margin-bottom: 26px;
}

.projects .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.projects .item .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ont-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}

.projects .item .title i{
    width: 38px;
    height: 16px;
    display: block;
    flex-shrink: 0;
    margin-left: 16px;
    background: url(../img/provide/arrow.svg) center no-repeat;
}

.flex-bot{
    display: flex;
    justify-content: center;
}

/**CARD**/
.card__title span{
    display: block;
    text-indent: 100px;
}

.card__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.card__left{
    width: calc(100% - 360px);
}

.card__right{
    width: 360px;
    flex-shrink: 0;
    padding-left: 60px;
}

.card-slider-top{

}

.card-slider-top .pic{
    height: 546px;
}

.card-slider-top .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-slider-bottom .pic{
    height: 196px;
    padding-top: 28px;
}

.card-slider-bottom .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-slider-bottom  .arrows-append-vert{
    margin-left: auto;
    margin-right: 45px;
    margin-bottom: 38px;
    position: relative;
    top: auto;
    right: auto;
    transform: none;
}

.card-des{
    max-width: 554px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.card-des .subtitle{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.07143;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}

.card-des p{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: justify;
    color: #000;
}

.video{
    max-width: 844px;
}

/**SEEN**/
.seen-top{
    padding-bottom: 20px;
}

.seen-top__cols{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.seen-top__left{
    width: calc(100% - 812px);
    padding-right: 45px;
    position: relative;
    z-index: 1;
}

.seen-top__right{
    width: 812px;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
}

.seen-top .title{
    padding-bottom: 10px;
    margin-bottom: 44px;
    position: relative;
}

.seen-top .title:before{
    content: "";
    width: 100vw;
    height: 1px;
    background: #c8c8c8;
    position: absolute;
    bottom: 0;
    left: -60px;
}

.seen-top p{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    text-align: justify;
    color: #000;
}

.seen-top .pic{

}

.seen-top .pic img{
    max-width: 100%;
    display: block;
}

.tags{
    padding-bottom: 35px;
}

.tags ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tags ul li{
    margin-right: 40px;
    margin-bottom: 16px;
}

.tags ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 0.9375;
    color: #ff6628;
}

/**PRODUCTS**/
.products{

}

.products .items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.products .item{
    width: 33.33%;
    padding: 0 4px;
    margin-bottom: 50px;
}

.products .item .in{

}

.products .item .pic{
    height: 340px;
    margin-bottom: 28px;
}

.products .item .pic img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.products .item .title{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.07143;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}

.products .item .title a{
    color: inherit;
}

/**FOOTER**/
.footer{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    background: #3C3B3B url(../img/footer/bg.svg) center bottom no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.footer .two-cols__left{
    border: none;
}

.footer .logo{
    display: flex;
    justify-content: center;
}

.footer .logo img{
    width: 212px;
    display: block;
}

.footer__top .cols{
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footer .flex{
    display: flex;
}

.footer__sub{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.footer .flex .footer__sub{
    padding-right: 35px;
}

.footer__sub a{
    color: inherit;
}

.footer__nav{
    list-style: none;
}

.footer__nav li{
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}   

.footer__nav li a{
    color: inherit;
}

.social{
    display: flex;
    column-gap: 8px;
}

.social__item{

}

.social__item a{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 4px;
}

.social__item img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.footer .line{
    display: flex;
    margin-bottom: 16px;
}

.footer .line__item:nth-child(1){
    min-width: 160px;
    padding-right: 5px;
}

.footer__phone{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__phone a{
    color: inherit;
}

.footer__place{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__place a{
    color: inherit;
    text-decoration: underline;
}

.footer__mail{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__mail a{
    color: inherit;
}

.footer__callback{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__callback a{
    color: inherit;
    text-decoration: underline;
}

.footer__bottom{
    padding-top: 160px;
}

.footer__bottom .container{
    max-width: 1790px;
    padding-left: 83px;
}

.footer__bottom .cols{
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.footer .logo-2{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 157px;
    line-height: 0.17834;
    text-transform: uppercase;
    color: #fff;
}

.footer .logo-2 i{
    width: 88px;
    height: 88px;
    display: block;
    flex-shrink: 0;
    margin-left: 30px;
    background: url(../img/footer/arrow.svg) center no-repeat;
}

.footer .logo-3{
    font-weight: 700;
    font-size: 60px;
    line-height: 0.85;
    text-transform: uppercase;
    color: #fff;
}


